<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: rgb(31, 235, 167);">
  <div class="container-fluid"  style="background-color: rgb(98, 114, 151);">
    <a class="navbar-brand" style="color: white;" routerLink="/home">TextUtils</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white;" routerLink="/aboutus">AboutUs</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-success" routerLink="/" style="color: white;" type="submit">Logout</button>
  </div>
</nav>
<div class="body" style="background-color: rgb(234, 234, 238);">
<h1>About</h1>
<p>Hey, This is a Demo Project.Which I created using Angular, in which you can change your string into Upper case,lower case, remove white space and also clear text using button.The best thing about the project is that it shows converted data in different textarea. So you can easily perform different task in single string.However project uses very basic functionality so easy to learn but it is very useful and different from other available project in google. </p>
<h2>History</h2>
<p>How I get idea about this project? After learning angular, I was checking different available project but all of them are almost similar. So I choosed Pipeline concept in angular to create my project. Adding normal normal things like login, navbar it looks so beautiful.</p>
<h2>Get Involved</h2>
<p>You can also add and suggest something for my project.Updating project time to time is really important.Always happy to hear suggestions from all of you.Looking forward to add more functionality in this project so it looks more attractive.</p>
<h2>Contact Us</h2>
<p>I am engineer in Sasken Technology.</p>
<h2>Support Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sit. Ab esse temporibus voluptatibus assumenda, magni quod tempore doloribus sed perferendis quas nobis vero, natus veritatis quos iure molestiae praesentium illo nostrum soluta reiciendis minima mollitia nisi harum non. Dignissimos asperiores ullam, quidem modi nostrum nam impedit in voluptate eius cupiditate aliquid soluta, sunt rem, voluptatibus aut error veniam itaque porro hic reprehenderit voluptas. Corporis mollitia non sed accusantium eveniet!</p>
</div>
